body {
  background-color: #fdf2ee;
}

#congrats {
    display: none;
}

.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0,0,0,0.4);
}

.pink{
  color: #f13474;
}
.bold{
  font-weight: bold;
}

.footer {
  position: fixed;
  font-size: small;
  right: 10px;
  bottom: 10px;
  width: 100%;
  text-align: right;
}


#chat {
  position: absolute;
  width: 33%;
  bottom: 10%;
  left: 40%;
}

.usertable.table.table-borderless {
  font-size: 10px;
  position: absolute;
  width: 20%;
  left: 10px;
  bottom: 60px;
}

.aitable.table.table-borderless {
  font-size: 10px;
  position: absolute;
  width: 20%;
  left: 260px;
  bottom: 15px;
}

#thirduser {
    color: #d8d8d8;
}

#seconduser {
    color: #9e9e9e;
}

#firstuser {
    color: #616161;
}

#thirdai {
    color: #d8d8d8;
}

#secondai {
    color: #9e9e9e;
}

#firstai {
    color: #616161;
}


.user-textbox, .ai-textbox {
  width:200px;
  height:35px;
  border-radius:4px;
  transition-property:background-color,border-radius,width,height,color;
  transition-duration:0.215s;
  transition-delay: 0.215s;
  text-align:center;
  border: none;
  float: none;
  font-family: 'Raleway', sans-serif;
  color: #484545;
  font-size: medium;
  background-color:transparent;
  border-color: transparent;
  outline: none;
  font-weight: normal;
}

.user-textbox {
  border-bottom: 1px solid #f13474;
  position: absolute;
  width: 50%;
  left: 10px;
  bottom: 45px;
	}

.ai-textbox {
  border-bottom: 1px solid #a5a2a2;
  position: absolute;
  width: 50%;
  left: 100px;
  bottom: 0px;
	}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a5a2a2;
  font-size: small;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #a5a2a2;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #a5a2a2;
}

input:focus::placeholder {
  color: transparent;
}


table {
    border: none

}

#last_pair {
  position: absolute;
  width: 50%;
  top: 1%;
  left: 45%;
  color: #484545;
  font-family: 'Raleway', sans-serif;
}

.plot{
  height: 400px;
}